<style>
  #bat {
  background: #ff0000;
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#ff0000), color-stop(<%= @percent %>%,#ff0000), color-stop(<%= @percent %>%,#ffffff), color-stop(100%,#ffffff));
  background: -webkit-linear-gradient(45deg, #ff0000 0%,#ff0000 <%= @percent %>%,#ffffff <%= @percent %>%,#ffffff 100%);
  }
</style>
<p><img id="bat" src="<%= request.base_url %>/img/baseball_bat.png" style="background-color:#f00;"></p>
<p><%= "#{@goal_type}: #{@progress}" %></p>
<p>goal: <%= @goal %></p>